<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>This page is at the moment in Maintenance</h1>
        <p>Thank you for your patience.</p>
    </body>
</html>